<!-- <form class="auth" [formGroup]="loginForm" (ngSubmit)="login()">
  <h1 class="title">Login form</h1>
  <fieldset class="fieldset">
    <div class="form-group">
      <input type="text" formControlName="email" placeholder="email" class="form-control" [ngClass]="{ 'is-invalid': loading && f.email.errors }" />
      <div *ngIf="loading && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" formControlName="password" placeholder="password" class="form-control" [ngClass]="{ 'is-invalid': loading && f.password.errors }" />
    </div>
    <div *ngIf="loading && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </fieldset>
  <fieldset class="fieldset action">
    <button type="submit" class='button'>LOGIN</button>
    <nav>
      <a routerLink="/sign-up" class="link-form">Sign up</a>
    </nav>
  </fieldset>

</form> -->
<div class="sign-in">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter email" [formControl]="emailFormControl" [errorStateMatcher]="matcher"
            ngDefaultControl>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
            ngDefaultControl>
          <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
            Password must be at least 6 characters
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
      <a mat-button routerLink="/sign-up">or Sign Up</a>
    </mat-card-actions>
  </mat-card>
</div>